<p-toast position="top-right" key="tc"></p-toast>
<p-confirmDialog [style]="{width: '450px'}" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="grid grid-cols-1 gap-6 content-center">
    <div class="card rounded-none  lg:card-side lg:h-64 bg-base-100 shadow-xl" *ngFor="let lists of MovieList">
        <figure><img class="lg:w-64 lg:h-64 h-80" src="http://image.tmdb.org/t/p/w500/{{ lists.poster_path }}" alt="Album"/></figure>
        <div class="card-body ">
            <h2 class="card-title">{{lists.original_title}}</h2>
            <p class="text-slate-500">{{lists.release_date | date: 'dd MMMM YYYY'}}</p>
            <p class="mt-5">{{lists.overview}}</p>
            <div class="justify-start">          
                <!--Action-->
                <div class="grid gap-2 ">
                    <div class="flex justify-start" >
                        <a (click)="remove(lists)" class="cursor-pointer text-slate-500 py-2 "><i class="fa-solid border px-2 py-1 bg-inherit rounded-full hover:bg-slate-500 hover:text-white text-slate-500 text-md dark:text-white fa-xmark"></i> Remove</a>
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>

