<ng-container *ngIf="listMovies.length != 0">
    <div class="carousel ">
        <div class="h-96 w-full carousel carousel-horizontal rounded-box">
            <div class="carousel-item h-full">
                <img src="../../../assets/carousel/Got.jpg " class="w-full" />
            </div> 
            <div class="carousel-item h-full">
                <img src="../../../assets/carousel/minions.jpeg" class="w-full" />
            </div> 
            <div class="carousel-item h-full">
                <img src="../../../assets/carousel/doctor.jpeg" class="w-full"/>
            </div> 
            <div class="carousel-item h-full">
                <img src="../../../assets/carousel/manfrom.jpeg" class="w-full" />
            </div> 
            <div class="carousel-item h-full">
                <img src="../../../assets/carousel/naruto.jpeg" class="w-full" />
            </div> 
            <div class="carousel-item h-full">
                <img src="../../../assets/carousel/power.jpeg" class="w-full" />
            </div> 
            <div class="carousel-item h-full">
                <img src="../../../assets/carousel/spiderman.jpeg" />
            </div>
        </div>
    </div>
    

    <!--Display User PlayList-->
    <div class="title mb-5">My PlayList</div>
    <div class=" carousel"> 
        <p-carousel [value]="listMovies" [numVisible]="5" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-myPlayList pTemplate="item">
                <div class="product-item">
                    <figure><img src="http://image.tmdb.org/t/p/w500/{{ myPlayList.poster_path }}" ></figure>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <!--Display all Movies-->
    <div class="title mb-5">Popular Movies</div>
    <div class=" carousel"> 
        <p-carousel [value]="listMovies" [numVisible]="5" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-popular pTemplate="item">
                <div class="product-item">
                    <figure><img src="http://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" ></figure>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    

    <!--Display all popular tv Shows-->
    <div class="title mb-5">Popular TV Shows</div>
    <div class=" carousel"> 
        <p-carousel [value]="listTv" [numVisible]="5" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-popular pTemplate="item">
                <div class="product-item">
                    <figure><img src="http://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" ></figure>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <!--Display all  movies-->
    <div class="title mb-5">Upcomming Movies</div>
    <div class=" carousel"> 
        <p-carousel [value]="listUpcomming" [numVisible]="5" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions"> 
            <ng-template let-comming pTemplate="item">
                <div class="product-item">
                    <figure><img src="http://image.tmdb.org/t/p/w500/{{ comming.poster_path }}" ></figure>
                </div>
            </ng-template>
        </p-carousel>
    </div>

</ng-container>


<ng-container *ngIf="listMovies.length == 0">
   
    <!--Display all Movies-->
    <div class="title mb-5">Popular Movies</div>
    <div class=" carousel"> 
        <p-carousel [value]="listMovies" [numVisible]="5" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-popular pTemplate="item">
                <div class="product-item">
                    <figure><img src="http://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" ></figure>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    

    <!--Display all popular tv Shows-->
    <div class="title mb-5">Popular TV Shows</div>
    <div class=" carousel"> 
        <p-carousel [value]="listTv" [numVisible]="5" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-popular pTemplate="item">
                <div class="product-item">
                    <figure><img src="http://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" ></figure>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <!--Display all  movies-->
    <div class="title mb-5">Upcomming Movies</div>
    <div class=" carousel"> 
        <p-carousel [value]="listUpcomming" [numVisible]="5" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions"> 
            <ng-template let-comming pTemplate="item">
                <div class="product-item">
                    <figure><img src="http://image.tmdb.org/t/p/w500/{{ comming.poster_path }}" ></figure>
                </div>
            </ng-template>
        </p-carousel>
    </div>

</ng-container>
