.card{
    width: 190px;
}
.card.image-full:before, .card.image-full > *{
    background-color: #ffffff00;
}
.title{
    font-size: large;
    font-weight: 400;
    margin-left: 50px;
}
.product-item{
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    height: 250px;
}

.product-item:hover{
     transition: 0.2s ease-in-out;
     transform:scale(1.2) ;
}

.carousel{
    margin-bottom: 20px;
}