@tailwind base;
@tailwind components;
@tailwind utilities;

.input{
    height: 5vh;
}

.dopdown{
    right: 2%;
}
.dopdown li{
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dopdown li a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dopdown a:hover {
    background-color: #ddd;
    text-decoration: underline;
  }
