<div class="body mb-10"> 
    <!--  Display all Movies-->
    <div class="container" style="margin-top:10vh;"> 
        <div class="title mb-5">All Movies</div> 
        <div class="flex justify-center"> 
            <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-6 gap-8">
                <div class="card drop-shadow-xl w-full bg-base-100 shadow-xl image-full" *ngFor="let lists of list" >
                    <figure><img src="http://image.tmdb.org/t/p/w500/{{ lists.poster_path }}" alt="movieImages" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>