<!-- The button to open modal -->
<!-- Put this part before </body> tag -->
<p-toast position="top-right" key="tc"></p-toast>
<input type="checkbox" id="login" class="modal-toggle" /> 
<label for="login" class="modal cursor-pointer">
    <label class="modal-box relative rounded-none lg:w-9/12 lg:max-w-xl md:w-9/12 md:max-w-xl" for="">
        <div class="container ">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="text-2xl mb-3">WELCOME!</h1>
                </div>
                <form [formGroup]="Form" >
                    <div class="form-group col mb-6">
                        <div class="flex">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"><i class="fa-solid fa-envelope"></i>
                            </span>
                            <input type="email" formControlName="email" placeholder="Email" class="input input-bordered w-full max-w-s email rounded-none rounded-r-lg"
                            [ngClass] ="{ 'is-invalid':submitted && f['email'].errors }" />
                        </div>
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                        </div>
                    </div>

                    <div class="form-group col mb-6">
                        <div class="flex">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"><i class="fa-solid fa-key"></i></span>
                            <input type="email" formControlName="password" placeholder="Password" class="input input-bordered w-full max-w-s email rounded-none rounded-r-lg" [ngClass] ="{ 'is-invalid':submitted && f['password'].errors }" />
                        </div>
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                            <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 character</div>
                            <div *ngIf="f['password'].errors['maxlength']">Password must not exceed 40 character</div>
                        </div>
                    </div>

                    <div class="form-group mb-4">    
                        <input class="form-check-input" type="checkbox" id="check" >
                        <label for="check" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-400">Remember Me</label>
                    </div>
    
                    <div class="form-group mb-4">
                        <button type="submit" (click)="login()" class="text-white btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full md:w-auto px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800"><label for="login">Login</label></button>
                    </div>
                </form>
    
                <div class="form-group ">
                    <P class = "Already">
                        Don't Have an Account? 
                        <a class="reg cursor-pointer" ><label for="login">Register</label></a> 
                    </P>
                </div>
            </div>
        </div> 
    </label>
</label>     
